[Desktop Entry]
Version=1.0
Name=SDDM Settings
Comment=Configure background and autostart in SDDM Display Manager
TryExec=kwin_x11
Exec=kcmshell5 --caption "LXQt KWin Settings" --desktopfile=/usr/share/kservices5/kwindecoration.desktop kcm_sddm
Icon=preferences-system-login
Terminal=false
Type=Application
Categories=Qt;Settings;Desktopsettings;System;
StartupNotify=true
OnlyShowIn=LXQt;
